.page__header{
    margin: 48px 0 63px 0;
}
.page__brands{
    margin-bottom: 69px;
}
.page__arrivals{
    margin-bottom: 190px;
}
.page__payday{
    margin-bottom: 190px;
}

.page__favorite{
    margin-bottom: 220px;
}
.page__app{
    margin-bottom: 227px;
}